body {
    background-image: url('/assets/images/trame.png');
    background-size: 50px;
}

form.form_user {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 420px;
    width: 100%;
    padding: 0px;
    
}

@font-face { 
    font-family: cocogoose; 
    src: url('/assets/polices/HymalaFont.ttf'); 
} 

.titre {
    font-family: HymalaFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
   
}

.info-message {
    font-size: 15px;
    padding-top: 30px;
    color: green;
    text-align: center;
    max-width: 420px;
    margin: 0px auto;
    padding: 20px 20px;
    margin-top: 30px;
    background-color: #f0ffed;
    border-radius: 10px;
}

form.form_user label {
    display: block;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

form.form_user input {
    outline: none;
    width: 100%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    background-color: #f7f7f7      
}




form.form_user input:focus {
    border: 1px solid #ff3124;
}

form.form_user button {
    height: 38px;
    line-height: 38px;
    margin-top: 12px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: #000;
    color: #FFF; 
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    cursor:pointer;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

form.form_user button:hover {
    background-color: #ff3124;
}

@media (max-width: 768px) {
    .titre {
        padding-left: 20px;
        padding-right: 20px;
    }
    form.form_user {
        padding: 0px 20px;
    }
}